<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo">
      <a href="#"> <i nz-icon nzType="home"></i> HOME </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <a href="authors">Authors</a>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="book"></i>
        <a href="books">Books</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header> APP Books - DitechPolitec </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>DitechPolitec</nz-footer>
  </nz-layout>
</nz-layout>